{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue du Pro Stages !</h1>

<p>
Vous trouverez ci-dessous les dernières ressources pédagogiques ajoutées sur Pro Stages.
</p>
<ul>
	<li>
		<a href="{{path('prostages_entreprises')}}"> Filtrer par entreprises</a>
	</li>
	<li>
		<a href="{{path('prostages_formations')}}"> Filtrer par formation</a>
	</li>
</ul>

{% endblock %}