<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/logo_prostages.png">
		<!-- BLOCK DU TITRE -->
        {% block title %}
			<title>ProStages</title>
			<div class=logoAccueil>
				<center>
				<a href="{{path('prostages_accueil')}}">
					<img src="/img/logo_prostages.png" height=200 weight=200>
				</a>
				<br>
				</center>
			</div>
			
		{% endblock %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		

    </head>
    <body>
		
		{% block menu %}	
        {% endblock %}

		<!-- BLOCK DES FEUILLES DE STYLE -->


		{% block body %}
		{% endblock %}

        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
		{% endblock %}

		<!-- BLOCK DES SCRIPTS JAVASCRIPT -->
		{% block javascripts %}
			<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"></script>
		{% endblock %}
    </body>
</html>
