<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
		<title>ProStages</title>
		<div class=logoAccueil>
		<a href={{path('prostages_accueil')}}>
		<img src="http://image.noelshack.com/fichiers/2021/50/2/1639483654-acca.png" height=200 weight=200>
		</a>
		</div>
		<div class=titreAccueil>
		<center><h1>Bienvenue sur Pro Stages !</h1></center><br>
		</div>
		{% endblock %}
		
		{% block stylesheet %}
		<link rel="stylesheet" href="./lecss.css" /> 
		{% endblock %}
		
        {% block menu %}	
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
